
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">MoviesApp</h1>
    <p class="lead">This is an application about movies</p>
  </div>
</div>

<div class="container">
  <br>

  <app-gallery  title="Cinema Listings"
                [movies]="cinemaListings">
  </app-gallery>

  <br><br>

  <app-gallery  title="Most Popular"
                [movies]="mostPopular">
  </app-gallery>

  <br><br>

  <app-gallery  title="Kids Most Popular"
                [movies]="kidsMostPopular">
  </app-gallery>


</div>
