
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">MoviesApp</h1>
    <p class="lead">This is an application about movies</p>
  </div>
</div>

<div class="container">
  <br>

  <h1>Cinema Listings</h1>
  <hr>

  <div class="row">

    <div class="col-sm-6">

      <div class="row">
        <div class="col-md-12 div-pic-1"
             [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w300/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg)'}">
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6 div-pic-2"
             [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w300/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg)'}">
        </div>

        <div class="col-sm-6 div-pic-2"
             [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w300/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg)'}">
        </div>
      </div>

    </div>


    <div class="col-sm-6">

      <div class="row">
        <div class="col-sm-6 div-pic-2"
             [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w300/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg)'}">
        </div>

        <div class="col-sm-6 div-pic-2"
             [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w300/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg)'}">
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 div-pic-1"
             [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w300/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg)'}">
        </div>
      </div>

    </div>

  </div>

</div>
