
<div class="container main-container">

  <div class="row">

    <div class="col-md-12">

      <div class="form-group">

        <label>Search:</label>
        <input [(ngModel)]="movieToSearch"
                name="movieToSearch"
                (keyup.enter)="searchMovie()"
                type="text"
                class="form-control"
                placeholder="Enter a movie">

      </div>

    </div>

  </div>

  <div class="row animated fadeIn fast">

    <div class="card-columns">
      <div class="card" *ngFor="let movie of _ms.movies">
        <img class="card-img-top img-fluid" [src]="movie | movieImage" alt="movie.original_title">
        <div class="card-block">
          <h4 class="card-title"> {{ movie.original_title }}</h4>
          <p class="card-text text-justify"> {{ movie.overview | slice:0:250 }}...</p>
          <button [routerLink]="['/movie', movie.id, 'search', movieToSearch]"
                  type="button"
                  class="btn btn-outline-primary btn-block">
            See more...
          </button>
        </div>
    </div>

  </div>


</div>
